@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    background: linear-gradient(19deg, rgba(185,185,217,1) 38%, rgba(47,115,230,0.0844712885154062) 56%);
    transition: background-color 0.7s;
    place-content: center;
}

.btn:hover {
    background-color: #8a86d8;
}

.btn:active {
    background-image: linear-gradient(315deg, #c9a2a7 0%, #c87472 74%);
    background-image: linear-gradient(19deg, rgba(185,185,299,1) 38%, rgba(100,250,230,0.0844712885154062) 56%);
    
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.media-scroller {
    margin-top: 50px;
    --spacer: 1rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    grid-template-rows: min-content;
    gap: var(--spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.media-element {
    box-shadow: 0px 2px 4px;
    display: grid;
    padding: var(--spacer);
    background: #e5e3e3;
    border-radius: 5px;
}

.media-element>img {
    inline-size: 100%;
    aspect-ratio: 9/10;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer, 1rem);
}

.snaps-inline>* {
    scroll-snap-align: start;
}

@media (max-width: 500px) {
    .media-scroller {
        grid-auto-columns: 80%;
    }
}

.gridTemp {
    grid-template-columns: 45vw 45vw;
    object-fit: fill;
}

.gridTemp2 {
    object-fit: cover;
}

@media (max-width: 700px) {
    .media-scroller {
        grid-auto-columns: 40%;
    }

    .gridTemp {
        grid-template-columns: 90vw;
        grid-template-rows: auto auto;
    }

    .marginT {
        margin-top: 35px;
    }
}

.heroBg {
    background-image: url('assets/SuitImages/blueSuitBgg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* padding: 100px 200px; */
}

.heroFont {
    font-family: 'Abril Fatface', cursive;
}

.ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    white-space: pre-wrap;
}